{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/logo_eztravel.ico' %}">
    <title>{% block title %}
        {% endblock  %} </title>
</head>

<body onload="pageLoaded()">
    <div id="animationload" class="animationload">
        <div id="loader_wrap" class="loader__wrap" role="alertdialog" aria-busy="true" aria-live="polite"
            aria-label="Loading…">
            <div class="loader" aria-hidden="true">
                <div class="loader__sq"></div>
                <div class="loader__sq"></div>
            </div>
        </div>
    </div>
    {% block  content%}

    {% endblock  %}
    <script src="{% static 'js/smooth-scroll.js' %}"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            speed: 2000,
            speedAsDuration: true
        });
    </script>
    <script>
        function pageLoaded() {
            document.getElementById("animationload").hidden = true;
        }
    </script>
    <script type="text/javascript">
        document.oncontextmenu = new Function("return false;")
        document.onselectstart = new Function("return false;")
    </script>
</body>

</html>