{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}

{% block title%}Ez Travel{% endblock  %}

{% block content %}
<div class="banner">
    <div id="d1" class="d1">
        <img src="{% static 'images/index/d1.png' %}" alt="d1">
    </div>
    <div id="d2" class="d2">
        <img src="{% static 'images/index/d2.png' %}" alt="d2">
    </div>
    <div id="d3" class="d3">
        <img src="{% static 'images/index/d3.png' %}" alt="d3">
    </div>
    <div id="d4" class="d4">
        <img src="{% static 'images/index/d4.png' %}" alt="d4">
    </div>
    <div id="d5" class="d5">
        <img src="{% static 'images/index/d5.png' %}" alt="d4">
    </div>
    <div id="d6" class="d6">
        <div class=explore id="explore">
            <a data-scroll href="#back" class="js-anchor-link" id=explore" onclick="parallaxUp()">EXPLORE</a>
        </div>
        <div class="back" id="back">
            <div class="galery">
                <div class="single text-center">
                </div>

                <div class="couple text-center">
                </div>

                <div class="family text-center">
                </div>

                <div class="team text-center">
                </div>
            </div>
            <a data-scroll href="#explore" class="back-a" onclick="parallaxDown()"><img class="js-anchor-link" src="{% static 'images/index/up.png' %}"></a>
        </div>
    </div>

    <script>
        function parallaxUp() {
            document.getElementById('d1').className = "d1up";
            document.getElementById('d2').className = "d2up";
            document.getElementById('d3').className = "d3up";
            document.getElementById('d4').className = "d4up";
            document.getElementById('d5').className = "d5up";
            document.getElementById('d6').className = "d6up";
        }
        function parallaxDown() {
            document.getElementById('d1').className = "d1down";
            document.getElementById('d2').className = "d2down";
            document.getElementById('d3').className = "d3down";
            document.getElementById('d4').className = "d4down";
            document.getElementById('d5').className = "d5down";
            document.getElementById('d6').className = "d6down";
        }
    </script>

    {% endblock %}