{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}

{% block title%}Ez Travel{% endblock  %}

{% block content %}
<div class="banner">
        <h1>Trải nghiệm du lịch Nhật Bản</h1>
        <p align="justify">Đến Nhật Bản, bạn có thể ghé thăm những thành phố hiện đại, sầm uất như Tokyo, Yokohama hay tham quan những vùng đất đậm nét truyền thống, cổ kính như Kyoto, Nagoya; hoặc đắm mình giữa cảnh sắc thiên nhiên xinh đẹp của núi Phú Sĩ và các suối nước nóng ở Noboribetsu</p>
</div>
{% endblock %}