{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock  %}

{% block title%}Ez Travel{% endblock  %}

{% block content %}
<nav id="sign-up">
    <img src="{% static 'images/main/close.svg' %}" class="close-btn" id="close-menu-su">
    <div class="lg-lb">
        <img src="{% static 'images/base/logo_eztravel.png' %}" id="img-su">
        <p>Sign up</p>
    </div>
    <p>Your name</p>
    <input id="name" type="text" placeholder="Type your name">
    <p>Email</p>
    <input type="email" id="email" type="text" placeholder="Type your email">
    <!-- <p>user</p>
    <input id="user" type="text"> -->
    <p>Password</p>
    <input type="password" id="password" type="text" placeholder="Type your password">
    <p>Re-type password</p>
    <input type="password" id="re-password" type="text" placeholder="Re-type your password">
    <a href="#login">Already has an account?</a>
    <input id='comfirm' type="submit" value="Confirm">
</nav>
<nav id="overlay">
    <img src="{% static 'images/main/close.svg' %}" class="close-btn" id="close-menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <button id="log-in-btn">Log in</button>
        </li>
        <li>
            <button id="sign-up-btn">Sign up</button>
        </li>
        <li>
            <button id="about-us-btn">About us</button>
        </li>
    </ul>
</nav>
<header>
    <a href="#" class="logo">Ez Travel</a>
    <img src="{% static 'images/main/menu.svg' %}" class="menu-btn" id="open-menu">
</header>
<section>
    <h1>Welcome to Ez Travel</h1>
</section>
<script>
    const overlay = document.getElementById('overlay');
    const closeMenu = document.getElementById('close-menu');
    const singUp = document.getElementById('sign-up');
    document.getElementById('open-menu').addEventListener('click', function () {
        overlay.classList.add('show-menu');
    });
    document.getElementById('close-menu-su').addEventListener('click', function () {
        singUp.classList.remove('show-menu');
    });
    document.getElementById('close-menu').addEventListener('click', function () {
        overlay.classList.remove('show-menu');
    });
    document.getElementById('sign-up-btn').addEventListener('click', function () {
        singUp.classList.add('show-menu');
        overlay.classList.remove('show-menu');
    });

</script>
{% endblock  %}