{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock  %}

{% block title%}Ez Travel{% endblock  %}

{% block content %}
<nav id="sign-up">
    <img src="{% static 'images/main/close.svg' %}" class="close-btn" id="close-menu-su">
    <div class="lg-lb">
        <img src="{% static 'images/base/logo_eztravel.png' %}">
        <p>sign up</p>
    </div>
    <p>your name</p>
    <input id="name" type="text">
    <p>email</p>
    <input id="email" type="text">
    <!-- <p>user</p>
    <input id="user" type="text"> -->
    <p>password</p>
    <input id="password" type="text">
    <p>re-enter password</p>
    <input id="re-password" type="text">
    <a href="#login">already has an account</a>
    <input id='comfirm' type="submit" value="Confirm">
</nav>
<nav id="overlay">
    <img src="{% static 'images/main/close.svg' %}" class="close-btn" id="close-menu">
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <button id="log-in-btn">log in</button>
        </li>
        <li>
            <button id="sign-up-btn">sign up</button>
        </li>
        <li>
            <button id="about-us-btn">about us</button>
        </li>
    </ul>
</nav>
<header>
    <a href="#" class="logo">eztravel</a>
    <img src="{% static 'images/main/menu.svg' %}" class="menu-btn" id="open-menu">
</header>
<section>
    <h1>welcome to eztravel</h1>
</section>
<script>
    const overlay = document.getElementById('overlay');
    const closeMenu = document.getElementById('close-menu');
    const singUp = document.getElementById('sign-up');
    document.getElementById('open-menu').addEventListener('click', function () {
        overlay.classList.add('show-menu');
    });
    document.getElementById('close-menu-su').addEventListener('click', function () {
        singUp.classList.remove('show-menu');
    });
    document.getElementById('close-menu').addEventListener('click', function () {
        overlay.classList.remove('show-menu');
    });
    document.getElementById('sign-up-btn').addEventListener('click', function () {
        singUp.classList.add('show-menu');
        overlay.classList.remove('show-menu');
    });

</script>
{% endblock  %}