
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #171717;
    width: 100vh;
    height: 100vh;
}

.banner{
    width: auto;
}

.d1, .d2, .d3, .d4, .d5, .d6 {
    position: absolute;
    display: block;
}

.d1 {
    z-index: 0;
}

.d2 {
    z-index: 1;
    padding-top: 70px;
}

.d3 {
    z-index: 2;
    padding-top: 100px;
}

.d4 {
    z-index: 3;
    padding-top: 100px;
}

.d5 {
    z-index: 4;
    opacity: 0.2;
}

.d6 {
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
}

.d1up, .d2up, .d3up, .d4up, .d5up, .d6up {
    position: absolute;
}

.d1up {
    z-index: 0;
}

.d2up {
    z-index: 1;
    padding-top: 40px;
    -webkit-animation-name: moveUp1; 
    -webkit-animation-duration: 3s; 
    animation-name: moveUp1;
    animation-duration: 3s;
}

.d3up {
    z-index: 2;
    padding-top: 0px;
    -webkit-animation-name: moveUp; 
    -webkit-animation-duration: 3s; 
    animation-name: moveUp;
    animation-duration: 3s;
}
@-webkit-keyframes moveUp {
    0%   {
        padding-top: 100px;
    }
    100%  {
        padding-top: 0px;
    }
  }
  
  /* Standard syntax */
  @keyframes moveUp {
    0%   {
        padding-top: 100px;
    }
    100%  {
        padding-top: 0px;
    }
  }

  @-webkit-keyframes moveUp1 {
    0%   {
        padding-top: 70px;
    }
    100%  {
        padding-top: 40px;
    }
  }
  
  /* Standard syntax */
  @keyframes moveUp1 {
    0%   {
        padding-top: 70px;
    }
    100%  {
        padding-top: 40px;
    }
  }


.d4up {
    z-index: 3;
    -webkit-animation-name: moveUp; 
    -webkit-animation-duration: 3s; 
    animation-name: moveUp;
    animation-duration: 3s;
    padding-top: 0px;
}

.d5up {
    z-index: 4;
    opacity: 0.2;
}

.d6up {
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.d1down, .d2down, .d3down, .d4down, .d5down, .d6down {
    position: absolute;
}

.d1down {
    z-index: 0;
}

.d2down {
    padding-top: 70px;
    z-index: 1;
    -webkit-animation-name: movedown1; 
    -webkit-animation-duration: 3s; 
    animation-name: movedown1;
    animation-duration: 3s;
}

.d3down {
    padding-top: 100px;
    z-index: 2;
    -webkit-animation-name: movedown; 
    -webkit-animation-duration: 3s; 
    animation-name: movedown;
    animation-duration: 3s;
}
@-webkit-keyframes movedown {
    0%   {
        padding-top: 0px;
    }
    100%  {
        padding-top: 100px;
    }
  }
  
  /* Standard syntax */
  @keyframes movedown {
    0%   {
        padding-top: 0px;
    }
    100%  {
        padding-top: 100px;
    }
  }
  @-webkit-keyframes movedown1 {
    0%   {
        padding-top: 40px;
    }
    100%  {
        padding-top: 70px;
    }
  }
  
  /* Standard syntax */
  @keyframes movedown1 {
    0%   {
        padding-top: 40px;
    }
    100%  {
        padding-top: 70px;
    }
  }
.d4down {
    padding-top: 100px;
    z-index: 3;
    -webkit-animation-name: movedown; 
    -webkit-animation-duration: 3s; 
    animation-name: movedown;
    animation-duration: 3s;
}

.d5down {
    z-index: 4;
    opacity: 0.2;
}

.d6down {
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}