*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}

.banner{
    width: 100vh;
}
.banner .d6 a{
    font-size: 160px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.galery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 45%;
    
}

.galery .single{
    background-image: url(../images/index/single.png);
    background-size: cover;
    background-position: center center;
    width: 45%;
    height: 170px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
  }
  
  .galery .couple{
    background-image: url(../images/index/couple.png);
    background-size: cover;
    background-position: center center;
    width: 45%;
    height: 170px;
    margin-bottom: 25px;
    margin-left: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
  }
  
  .galery .family{
    background-image: url(../images/index/family.png);
    background-size: cover;
    background-position: center center;
    width: 45%;
    height: 170px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
  }
  
  .galery .team{
    background-image: url(../images/index/team.png);
    background-size: cover;
    background-position: center bottom;
    width: 45%;
    height: 170px;
    margin-bottom: 25px;
    margin-left: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
  }

 .back-a{
    width: 100%;
    margin-left: 85%;
 } 

.back-a img{
    width: 100px;
    height: 100px;
}

.banner .d6 .explore{
    height: 100vh;
    width: 100vh;
    padding-top: 30%;
    padding-left: 40%;
    }
.banner .d6 .back{
    height: 100vh;
    width: 100vh;
    padding-top: 60%;
    opacity: 0;
    }

.banner .d6up .explore{
    height: 100vh;
    width: 100vh;
    padding-top: 0%;
    padding-left: 40%;
    -webkit-animation-name: moveUpExplorer; 
    -webkit-animation-duration: 2s; 
    animation-name: moveUpExplore;
    animation-duration: 2s;
    }
    @-webkit-keyframes moveUpExplore {
        0%   {
            padding-top: 30%;
            padding-left: 40%;
            opacity: 1;
        }
        100%  {
            padding-top: 0%;
            padding-left: 40%;
            opacity: 0;
        }
      }
      
      /* Standard syntax */
      @keyframes moveUpExplore {
        0%   {
            padding-top: 30%;
            padding-left: 40%;
            opacity: 1;
        }
        100%  {
            padding-top: 0%;
            padding-left: 40%;
            opacity: 0;
        }
      }

.banner .d6up .back{
    height: 100vh;
    width: 100vh;
    padding-top: 20%;
    -webkit-animation-name: moveUpBack; 
    -webkit-animation-duration: 2s; 
    animation-name: moveUpBack;
    animation-duration: 2s;
    }
    @-webkit-keyframes moveUpBack {
        0%   {
            padding-top: 60%;
            opacity: 0;
        }
        100%  {
            padding-top: 20%;
            opacity: 1;
        }
      }
      
      /* Standard syntax */
      @keyframes moveUpBack {
        0%   {
            padding-top: 60%;
            opacity: 0;
        }
        100%  {
            padding-top: 20%;
            opacity: 1;
        }
      }

.banner .d6down .explore{
    height: 100vh;
    width: 100vh;
    padding-top: 30%;
    padding-left: 40%;
    -webkit-animation-name: moveDownExplorer; 
    -webkit-animation-duration: 2s; 
    animation-name: moveDownExplore;
    animation-duration: 2s;
    }
    @-webkit-keyframes moveDownExplore {
        0%   {
            padding-top: 00%;
            opacity: 0;
        }
        100%  {
            padding-top: 30%;
            opacity: 1;
        }
      }
      
      /* Standard syntax */
      @keyframes moveDownExplore {
        0%   {
            padding-top: 0%;
            opacity: 0;
        }
        100%  {
            padding-top: 30%;
            opacity: 1;
        }
      }

.banner .d6down .back{
    height: 100vh;
    width: 100vh;
    padding-top: 60%;
    -webkit-animation-name: moveDownBack; 
    -webkit-animation-duration: 2s; 
    animation-name: moveDownBack;
    animation-duration: 2s;
    }
    @-webkit-keyframes moveDownBack {
        0%   {
            padding-top: 20%;
            opacity: 1;
        }
        100%  {
            padding-top: 60%;
            opacity: 0;
        }
      }
      
      /* Standard syntax */
      @keyframes moveDownBack {
        0%   {
            padding-top: 20%;
            opacity: 1;
        }
        100%  {
            padding-top: 60%;
            opacity: 0;
        }
      }


.banner .d6up a{
    font-size: 160px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.banner .d6down a{
    font-size: 160px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.d1, .d2, .d3, .d4, .d5, .d6 {
    position: absolute;
    display: block;
}

.d1 {
    z-index: 0;
}

.d2 {
    z-index: 1;
    padding-top: 70px;
}

.d3 {
    z-index: 2;
    padding-top: 100px;
}

.d4 {
    z-index: 3;
    padding-top: 100px;
}

.d5 {
    z-index: 4;
    opacity: 0.2;
}

.d6 {
    z-index: 5;
/*     left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

img {
    max-width: 100%;
}

.d1up, .d2up, .d3up, .d4up, .d5up, .d6up {
    position: absolute;
}

.d1up {
    z-index: 0;
}

.d2up {
    z-index: 1;
    padding-top: 40px;
    -webkit-animation-name: moveUp1; 
    -webkit-animation-duration: 2s; 
    animation-name: moveUp1;
    animation-duration: 2s;
}

.d3up {
    z-index: 2;
    padding-top: 0px;
    -webkit-animation-name: moveUp; 
    -webkit-animation-duration: 2s; 
    animation-name: moveUp;
    animation-duration: 2s;
}
@-webkit-keyframes moveUp {
    0%   {
        padding-top: 100px;
    }
    100%  {
        padding-top: 0px;
    }
  }
  
  /* Standard syntax */
  @keyframes moveUp {
    0%   {
        padding-top: 100px;
    }
    100%  {
        padding-top: 0px;
    }
  }

  @-webkit-keyframes moveUp1 {
    0%   {
        padding-top: 70px;
    }
    100%  {
        padding-top: 40px;
    }
  }
  
  /* Standard syntax */
  @keyframes moveUp1 {
    0%   {
        padding-top: 70px;
    }
    100%  {
        padding-top: 40px;
    }
  }


.d4up {
    z-index: 3;
    -webkit-animation-name: moveUp; 
    -webkit-animation-duration: 2s; 
    animation-name: moveUp;
    animation-duration: 2s;
    padding-top: 0px;
}

.d5up {
    z-index: 4;
    opacity: 0.2;
}

.d6up {
    z-index: 5;
   /*  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.d1down, .d2down, .d3down, .d4down, .d5down, .d6down {
    position: absolute;
}

.d1down {
    z-index: 0;
}

.d2down {
    padding-top: 70px;
    z-index: 1;
    -webkit-animation-name: movedown1; 
    -webkit-animation-duration: 2s; 
    animation-name: movedown1;
    animation-duration: 2s;
}

.d3down {
    padding-top: 100px;
    z-index: 2;
    -webkit-animation-name: movedown; 
    -webkit-animation-duration: 2s; 
    animation-name: movedown;
    animation-duration: 2s;
}
@-webkit-keyframes movedown {
    0%   {
        padding-top: 0px;
    }
    100%  {
        padding-top: 100px;
    }
  }
  
  /* Standard syntax */
  @keyframes movedown {
    0%   {
        padding-top: 0px;
    }
    100%  {
        padding-top: 100px;
    }
  }
  @-webkit-keyframes movedown1 {
    0%   {
        padding-top: 40px;
    }
    100%  {
        padding-top: 70px;
    }
  }
  
  /* Standard syntax */
  @keyframes movedown1 {
    0%   {
        padding-top: 40px;
    }
    100%  {
        padding-top: 70px;
    }
  }
.d4down {
    padding-top: 100px;
    z-index: 3;
    -webkit-animation-name: movedown; 
    -webkit-animation-duration: 2s; 
    animation-name: movedown;
    animation-duration: 2s;
}

.d5down {
    z-index: 4;
    opacity: 0.2;
}

.d6down {
    z-index: 5;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}