*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}
.to-main p{
    font-size: 25px;
    padding-top: 27%;
    padding-left: 33%
}
.to-main{
    width: 100%;
    height: 100%;
    background: #171717;
    opacity: 0;
    transition: 1s;
}

.to-main:hover{
    opacity: 0.8;
}

.banner{
    width: 100vh;
}

.explore a{
    font-size: 115px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border-bottom: 10px solid white;
}

a{
    font-size: 115px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


#explore :hover {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    font-size: 115px;
    text-decoration: none;
    color: white;
    display: inline-block;
    border-bottom: 10px solid white;
    animation: 1s shake infinite alternate;
  }
  
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

.js-anchor-link:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
  }

.galery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 55%;
    
}
.galery img{
    width: 100%;
    height: 100%;
}

.galery .single:hover{
    transform: scale(1.3);
}
.galery .couple:hover{
    transform: scale(1.3);
}
.galery .family:hover{
    transform: scale(1.3);
}
.galery .team:hover{
    transform: scale(1.3);
}

.galery .single{
    background-image: url(../images/index/single.png);
    background-size: cover;
    background-position: center center;
    width: 45%;
    height: 270px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition: transform .5s; 
  }
  
  .galery .couple{
    background-image: url(../images/index/couple.png);
    background-size: cover;
    background-position: center center;
    width: 45%;
    height: 270px;
    margin-bottom: 25px;
    margin-left: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition: transform .5s;
  }
  
  .galery .family{
    background-image: url(../images/index/family.png);
    background-size: cover;
    background-position: center center;
    width: 45%;
    height: 270px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition: transform .5s;
  }
  
  .galery .team{
    background-image: url(../images/index/team.png);
    background-size: cover;
    background-position: center bottom;
    width: 45%;
    height: 270px;
    margin-left: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition: transform .5s;
  }

 .content-up{
    width: 100%;
    margin-left: 97.5%;
 } 

.content-up img{
    width: 70px;
    height: 70px;
}

.banner .d6 .explore{
    height: 100vh;
    width: 100vh;
    padding-top: 35%;
    padding-left:73%;
    }
.banner .d6 .content{
    height: 100vh;
    width: 100vh;
    padding-top: 60%;
    opacity: 0;
    pointer-events: none;
    }

.banner .d6up .explore{
    height: 100vh;
    width: 100vh;
    padding-top: 0%;
    padding-left: 73%;
    animation-name: moveUpExplore;
    animation-duration: 2s;
    opacity: 0;
}
      
      /* Standard syntax */
      @keyframes moveUpExplore {
        0%   {
            padding-top: 35%;
            padding-left: 73%;
            opacity: 1;
        }
        100%  {
            padding-top: 0%;
            padding-left: 73%;
            opacity: 0;
        }
      }

.banner .d6up .content{
    height: 100vh;
    width: 100vh;
    padding-top: 20%;
    animation-name: moveUpContent;
    animation-duration: 2s;
    opacity: 1;
    }
      
      /* Standard syntax */
      @keyframes moveUpContent {
        0%   {
            padding-top: 60%;
            opacity: 0;
            pointer-events: none;
        }
        100%  {
            padding-top: 20%;
            opacity: 1;
            
        }
      }

.banner .d6down .explore{
    height: 100vh;
    width: 100vh;
    padding-top: 35%;
    padding-left: 73%;
    animation-name: moveDownExplore;
    animation-duration: 2s;
    }
      
      /* Standard syntax */
      @keyframes moveDownExplore {
        0%   {
            padding-top: 0%;
            opacity: 0;
        }
        100%  {
            padding-top: 35%;
            opacity: 1;
        }
      }

.banner .d6down .content{
    height: 100vh;
    width: 100vh;
    animation-name: moveDownContent;
    animation-duration: 2s;
    opacity: 0;
    pointer-events: none;
    }
      
      /* Standard syntax */
      @keyframes moveDownContent {
        0%   {
            padding-top: 20%;
            opacity: 1;
        }
        100%  {
            padding-top: 60%;
            opacity: 0;
            pointer-events: none;
        }
      }


.banner .d6up a{
    font-size: 115px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.banner .d6down a{
    font-size: 115px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.d1, .d2, .d3, .d4, .d5, .d6 {
    position: absolute;
    display: block;
}

.d1 {
    z-index: 0;
}

.d2 {
    z-index: 1;
    padding-top: 70px;
}

.d3 {
    z-index: 2;
    padding-top: 100px;
}

.d4 {
    z-index: 3;
    padding-top: 100px;
}

.d5 {
    z-index: 4;
    opacity: 0.2;
}

.d6 {
    z-index: 5;
/*     left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

img {
    max-width: 100%;
}

.d1up, .d2up, .d3up, .d4up, .d5up, .d6up {
    position: absolute;
}

.d1up {
    z-index: 0;
}

.d2up {
    z-index: 1;
    padding-top: 100px; 
    animation-name: moveUp1;
    animation-duration: 2s;
}

.d3up {
    z-index: 2;
    padding-top: 0px;
    animation-name: moveUp;
    animation-duration: 2s;
}
  
  /* Standard syntax */
  @keyframes moveUp {
    0%   {
        padding-top: 100px;
    }
    100%  {
        padding-top: 0px;
    }
  }

  
  /* Standard syntax */
  @keyframes moveUp1 {
    0%   {
        padding-top: 70px;
    }
    100%  {
        padding-top: 100px;
    }
  }

.d4up {
    z-index: 3; 
    animation-name: moveUp;
    animation-duration: 2s;
    padding-top: 0px;
}

.d5up {
    z-index: 4;
    opacity: 0.2;
}

.d6up {
    z-index: 5;
   /*  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.d1down, .d2down, .d3down, .d4down, .d5down, .d6down {
    position: absolute;
}

.d1down {
    z-index: 0;
}

.d2down {
    padding-top: 70px;
    z-index: 1;
    animation-name: moveDown1;
    animation-duration: 2s;
}

.d3down {
    padding-top: 100px;
    z-index: 2;
    animation-name: moveDown;
    animation-duration: 2s;
}
  
  /* Standard syntax */
  @keyframes moveDown {
    0%   {
        padding-top: 0px;
    }
    100%  {
        padding-top: 100px;
    }
  }
  
  /* Standard syntax */
  @keyframes moveDown1 {
    0%   {
        padding-top: 100px;
    }
    100%  {
        padding-top: 70px;
    }
  }


.d4down {
    padding-top: 100px;
    z-index: 3;
    animation-name: moveDown;
    animation-duration: 2s;
}

.d5down {
    z-index: 4;
    opacity: 0.2;
}

.d6down {
    z-index: 5;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}