body, html {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .logo {
  color: black;
  font-weight: bold;
}

header .menu-btn {
  width: 18px;
  float: right;
  cursor: pointer;
}

section {
  padding: 4em;
}

section h1 {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
}

section h1::before {
  content: ' ';
  border-top: 5px solid black;
  display: block;
}
